force-app/main/default/flows/Documents_Uploader.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>LinkToRecord</name>
        <label>Link To Record</label>
        <locationX>440</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>NewRecordLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForEachContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRecordLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsertLinkToRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDocumentValues</name>
        <label>Set Document Values</label>
        <locationX>440</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>For_Each_Document.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Status_Choice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_Each_Document.ValidityStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValidityStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_Each_Document.ValidityEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValidityEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateDocumentValues</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Content_Document_Added</name>
        <label>Is Content Docuemnt Added ?</label>
        <locationX>724</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>For_Each_Document</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Content_Document_Id_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Upload_Single_Document.contentDocIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ForEachContentDocumentId</targetReference>
            </connector>
            <label>Content Document Id Not Null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Document_Status_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Document__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Documents Uploader {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Documents Uploader</label>
    <loops>
        <name>For_Each_Document</name>
        <label>For Each Document</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Missing_Documents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Upload_Document_Screen</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>ForEachContentDocumentId</name>
        <label>For Each Content Document Id</label>
        <locationX>352</locationX>
        <locationY>638</locationY>
        <collectionReference>Upload_Single_Document.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LinkToRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_Each_Document</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>InsertLinkToRecord</name>
        <label>Insert Link To Record</label>
        <locationX>440</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>SetDocumentValues</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateLinkErrorScreen</targetReference>
        </faultConnector>
        <inputReference>NewRecordLink</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Missing_Documents</name>
        <label>Get Missing Documents</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Document</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>RecordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Missing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsExpired__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Document__c</object>
        <sortField>Document_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateDocumentValues</name>
        <label>Update Document Values</label>
        <locationX>440</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>ForEachContentDocumentId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Document_Error_Screen</targetReference>
        </faultConnector>
        <inputReference>For_Each_Document</inputReference>
    </recordUpdates>
    <screens>
        <name>CreateLinkErrorScreen</name>
        <label>Create Link Error Screen</label>
        <locationX>968</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Document_Error_Screen</name>
        <label>Update Document Error Screen</label>
        <locationX>704</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Document_Screen</name>
        <label>Upload Document</label>
        <locationX>724</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Content_Document_Added</targetReference>
        </connector>
        <fields>
            <name>File_Information_Section</name>
            <fieldText>File Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>File_Information_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DocumentInformations</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Document :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!For_Each_Document.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Description :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!For_Each_Document.DocumentListItem__r.Description__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>File_Upload</name>
            <fieldText>File Upload</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>File_Upload_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Upload_Single_Document</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>For_Each_Document.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg,.jpeg,.png,.pdf,.doc,.docx,.txt</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>For_Each_Document.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>For_Each_Document.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Document_Status_Picklist</name>
            <choiceReferences>Document_Status_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Uploaded</stringValue>
            </defaultValue>
            <fieldText>Document Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Validity_Dates_Section</name>
            <fieldText>Validity Dates</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Validity_Dates_Section_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>ValidityStartDate</name>
            <dataType>Date</dataType>
            <fieldText>Validity Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ValidityEndDate</name>
            <dataType>Date</dataType>
            <fieldText>Validity End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Missing_Documents</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Existing_Documents_Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;DOC 1&lt;/p&gt;&lt;p&gt;DOC 2..&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>NewContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>NewDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>NewRecordLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>NumberofExistingDocuments</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
