force-app/main/default/flows/Generate_Documents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Document_Lists</name>
        <label>Get Document Lists</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>GetDocumentListsInvoc</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Document_List_Choice_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Init_Documents</name>
        <label>Init Documents</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>InitDocumentsInvoc</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Init_Documents_Result_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>listId</name>
            <value>
                <elementReference>Document_List_Choice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reset</name>
            <value>
                <elementReference>Delete_Existing_Documents</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <dynamicChoiceSets>
        <name>Document_List_Choice</name>
        <collectionReference>Get_Document_Lists.documentLists</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>DocumentList__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Generate documents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Documents</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Document_List_Choice_Screen</name>
        <label>Document List Choice Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Init_Documents</targetReference>
        </connector>
        <fields>
            <name>Document_List_Radio</name>
            <choiceReferences>Document_List_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose a Document List</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Delete_Existing_Documents</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Delete Existing Documents</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Init_Documents_Result_Screen</name>
        <label>Init Documents Result Screen</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Init_Documents_Message</name>
            <fieldText>&lt;p&gt;{!Init_Documents.message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Document_Lists</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Existing_Documents_Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;DOC 1&lt;/p&gt;&lt;p&gt;DOC 2..&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>NewContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>NewDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>NewRecordLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>NumberofExistingDocuments</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
